
body {
    background: #282626;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 400;
   font-size: 2rem;
   padding-bottom: 10px;
}

.blurb p {
    color: #c7c7c7;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    padding-top: 10px;
}

.form {
    color: #c7c7c7;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

.form-group {
    color: #c7c7c7;
}


.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.logos {
    width: 30px;
    padding-right: 10px;
}

#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 400;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #282626;
    transition: background 500ms;
}

.underline {
    color: #c7c7c7;
    background-color: #c7c7c7;
}

.contact {
     font-size: 1.2rem;
     color: #EA1C2C;
     padding: 10px;
     padding-left: 0;
}

.foot h5 a{
    font-size: small;
    color: #a2a0a0;
    line-height: 2.5;
}

.foot h5 a:hover {
    color: #EA1C2C;
    text-decoration: none;
}


.empty {
    height: 50px;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
